pyromod
pyrofork
motor
TgCrypto
Dnspython
aiohttp
pytz
bs4
shortzy

umongo==3.1.0
requests
git+https://github.com/Joelkb/cinemagoer
bs4==0.0.1 
gTTS==2.3.1
motor==3.0.0 
marshmallow==3.20.1 
opencv-python-headless==4.7.0.68 
python-dotenv==0.21.1 
speedtest==0.0.1 
humanize==4.6.0 
Pillow==9.4.0 
psutil==5.9.4 
NumPy 
wheel 
ujson 
wget 
